#!/bin/bash
################################################################################
#
# Cleos helper
#
################################################################################

CLEOS=/opt/eos/build/programs/cleos/cleos
$CLEOS -u http://127.0.0.1:8888 --wallet-url http://127.0.0.1:55554 "$@"