#!/bin/bash
################################################################################
#
# Start up nodeos
#
################################################################################

DATADIR=/opt/mainnet
/bin/bash $DATADIR/start.sh --delete-all-blocks --genesis-json /opt/mainnet/genesis.json