#!/bin/bash
################################################################################
#
# Cleos helper
#
################################################################################

# Path to the cleos binary
CLEOS={{ eos_install_dir }}/build/programs/cleos/cleos

# Simple convenience wrapper, no wallet interaction by default
$CLEOS -u http://127.0.0.1:8888 "$@"